/* CSS Document 
Colors and Fonts: 

Light Blue: #6BD9F2
Green: #3A7018
Yellow: #FEFF01
Light Brown: #BF7E04
Red: #D91E0D

Fonts: 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Head */



/* Body */



/* Footer */